/* MENU HAMBURGUER */

.hamburguer .menu {
    width: 22px;
    height: 4px;
    background-color: #000;
    margin: 3px;
    position: relative;
    transition: ease-in-out 300ms;
}

.hamburguer .menu.closed {
    rotate: -45deg;
    bottom: -3px;
}

.hamburguer .menu.closed:nth-child(2) {
    rotate: 45deg;
    bottom: 4px;
}

.hamburguer .menu.closed:nth-child(3) {
    rotate: 315deg;
    top: -11px;
}

.header.nav .nav-bar .items-menu {
    display: inline-block;
    position: fixed;
    transform: translateY(-100%);
    transition: ease-in-out 200ms;
    top: 0;
    right: 0;
    left: 130px;
    bottom: 0;
    z-index: 100;
    background-color: hsl(36, 100%, 99%);
    color: #000;
}

.header.nav .nav-bar .items-menu.show-menu {
    transform: translateY(0);
}

.overlay {
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
}

.show-overlay {
    display: block;
}