/* MENU HAMBURGUER */

.hamburguer .menu {
    width: 22px;
    height: 4px;
    background-color: #000;
    margin: 3px;
    position: relative;
    transition: ease-in-out 600ms;
}

.hamburguer .hidden {
    display: none;
}

.hamburguer .closed {
    rotate: 45deg;
    bottom: -3px;
}

.hamburguer .closed:nth-child(3) {
    rotate: -45deg;
    top: -4px;
}

.header.nav .nav-bar .items-menu {
    display: inline-block;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 200ms;
    top: 0;
    right: 0;
    left: 100px;
    bottom: 0;
    z-index: 99;
    background-color: hsl(36, 100%, 99%);
    color: #000;
}

.header.nav .nav-bar .items-menu.show-menu {
    transform: translateY(0);
}

